@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css" media="screen" />
</head>
<body>
    <div>
        <img src="/Images/HomePicture.jpg" alt="Crowd at Festival"/>
    </div>
    </body>
</html>
 