@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css" media="screen" />
</head>
<body>
    <div>
        Life is Busy. Plan Accordingly. Start Now.
    </div>
    <div>
        <img src="~/Images/eventInvisBg.png" alt="Crowd at Festival" class="EventImage"/>
    </div>
    </body>
</html>
 